<!-- Card -->
<div class="card card-cascade wider reverse" style="height: 100%">

        <!-- Card image -->
        <div class="view view-cascade overlay" style="height: 100%">
          <img class="card-img-top" src="https://i.ibb.co/F59797n/Be-Funky-photo-13.jpg " alt="Card image cap" height="50%">
         
            <div class="mask rgba-white-slight">
              <h1 style="color: blue; font-size: 50px">whakaka</h1>
            </div>
          </a>
        </div>
      
      
      
      </div>
    
      <!-- Card -->