{%extends 'base.html' %}

{% block content %}
{% for post in posts %}
<!-- <h1>{{post.title}}</h1>
        <p>By {{post.author}} on {{post.date_posted}}</p>
        <p>{{ post.content}}</p> -->

<div class="card testimonial-card">
    <!-- Background color -->
    <div class="card-up indigo lighten-1"></div>

    <div class="card-body">
        <!-- Name -->
        <h4 class="card-title">Anna Doe</h4>
        <hr>
        <!-- Quotation -->
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
    </div </div> {% endfor %} {% endblock content%}