{%extends 'base.html' %}
{% block content %}
<div class="content-section">

    <!-- Default form register -->
<form class="text-center border border-light p-5" method="Post" action="">

        <p class="h4 mb-4">Sign up</p>
    
        <!-- username -->
        <input type="username" id="defaultRegisterFormUsername" class="form-control mb-4" placeholder="Username">
    
        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    
        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
    
        <!-- Confirm password-->
        <input type="text" id="defaultRegisterConfirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPhoneHelpBlock">
        <small id="defaultRegisterFormConfirmPasswordHelpBlock" class="form-text text-muted mb-4">
            Optional - for two step authentication
        </small>
   
    
        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
    
       
    
    </form>
    <!-- Default form register -->

</div>

{% endblock content %}